html, * {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#modalContainer {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.4);
}

#modal {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 60%;
    gap: 24px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 16px;
    font-size: 1.24rem;
    background-color: antiquewhite;
    margin: 15% auto;
}

#addBook {
    width: 192px;
    font-size: 1.24rem;
    margin: 24px;
    padding: 8px;
}

#modal > div {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    justify-content: center;
}

input[type=text] {
    padding: 8px;
    font-size: 1.08rem;
}

#submit {
    margin: 8px;
    padding: 8px;
    font-size: 1.08rem;
}

div.book button {
    width: 96px;
    height: 48px;
}

.book {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}